*{
    margin: 0;
    padding: 0;
}
body{
    position:  absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    text-align: center;
}
.window{
    width: 500px;
    height: 281px;
    overflow: hidden;
}
.imges{
    display: flex;
    flex-direction: row;
    position: relative;
}
.leave{
    position: absolute;
    top: 0;
    left: -500px;
    transition: left 0.5s;
    z-index: 0;
}
.current{
    position: absolute;
    top: 0;
    left: 0;
    transition: left 0.5s;
    z-index: 1;
} 
.enter{
    position: absolute;
    top: 0;
    left: 500px; 
    transition: left 0.5s; 
    z-index: 0; 
}

.buttons>button{
    margin: 10px;
}